body {
    background-color: #FBFAF5;
}

#pages {
    width: 50px;
}

h1 {
    text-align: center;
}

#table {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

th {
    width: 250px;
}

tr {
    width: 250px;
}

td {
    text-align: center;
}

form {
    font: 1em sans-serif;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    box-shadow: none;
}